/*//////////////////////////
Small tablet styles (max-width:1023px)
//////////////////////////*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd, 
ol, ul, li, form, table, caption, tr, th, td, article, aside, footer, header, input, select, button {
    line-height: 170%;
}

div.mobile-menu-hamburger {
	display: block;
}

.hamburger-menu-focus-visible {
	display: block;
	opacity: 0;
}

.phone-icon {
	height: 38px;
	margin-right: 70px;
}

.phone-menu > li {
	height: 80px;
	padding-top: 21px;
}

.phone-menu .submenu {
	right: 70px;
	top: 77px;
}

.responsive-menu {
	display: none;
	position: absolute;
	right: 0px;
	border-top: 3px solid var(--main-color);
	top: 77px;
	background-color: white;
}

.main-menu,
.main-menu > li,
.main-menu > li > a {
	position: static;
	display: block;
	height: auto;
}

.main-menu .submenu,
.language-selector .submenu {
	position: static;
	display: none;
	height: auto;
	border-top: none;
}

.main-menu > li:hover > .submenu,
.main-menu > li:focus > .submenu,
.main-menu > li:focus-within > .submenu,
.language-selector > li:hover > .submenu,
.language-selector > li:focus > .submenu,
.language-selector > li:focus-within > .submenu {
	display: block;
}

.responsive-menu.visible,
.responsive-menu-container:focus > .responsive-menu,
.responsive-menu-container:focus-within > .responsive-menu {
	display: block;
}

a.button.menu-button {
	display: none;
}

.responsive-menu,
.main-menu,
.language-selector {
	flex-flow: column nowrap;
	align-items: stretch;
}

.main-menu > li > a {
	padding: 8px 42px;
	font-size: 14px;
	text-align: left;
	color: black;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
	margin: 0;
}

.main-menu > li > a::after {
	display: none;
}

.main-menu > li > a:hover,
.main-menu > li > a:focus {
	background-color: var(--fill-gray);
}

.responsive-menu .submenu > li > a{
	padding: 8px 42px 8px 62px;
	font-size: 14px;
	text-align: left;
	color: var(--text-gray);
	text-decoration: none;
	font-weight: bold;
	text-transform: none;
	white-space: nowrap;
}