/*//////////////////////////
Tablet styles (max-width:1280px)
//////////////////////////*/


/*//////////////////////////
Menu styles
//////////////////////////*/
.toolbar {
	height: 80px;
	padding: 0px 20px;
	max-width: 1280px;
}

.logo {
	height:65px;
}

.phone-icon {
	height: 32px;
}

.phone-menu > li,
.main-menu > li,
.main-menu > li > a,
.language-selector,
.language-selector > li,
.language-selector > li > a {
	height: 32px;
}

.main-menu > li > a {
	letter-spacing: 1px;
	font-size: 12px;
}

.main-menu > li > a::after {
	top: 29px;
}

a.button.menu-button,
a.button.menu-button:hover{
	letter-spacing: 1px;
	font-size: 12px;
	padding: 5px 16px;
	height: 32px;
}

.language-selector > li > a {
	padding: 5px 0px;
}

.phone-menu .submenu,
.main-menu .submenu,
.language-selector .submenu {
	/*1 variant*/
	top: 29px;
	
	/*2 variant*/
	/*display: block;  
	transform-origin: 0 0;
	opacity: 0.5;
	transform: translate(0px, -3px) scaleY(0);
	transition: opacity 0.5s, transform 0.5s;*/
}



@media (min-width:1024px) and (max-width:1070px){
    a.button.menu-button {
        display: none;
    }
	.language-selector {
		margin-left: 20px;
		top: 1px;
	}
	.language-selector::before{
		content: "";
		display: block;
		position: absolute;
		width: 4px;
		height: 100%;
		background-color: var(--border-gray);
		border-radius: 2px;
		top: 0;
		left: -10px;
		cursor: default;
	}
}


/*//////////////////////////
Main frame
//////////////////////////*/

main{
	margin-top:80px;
}